@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

@keyframes logoAnimation {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-10px);
  }

  60% {
    transform: translateY(-5px);
  }
}

a {
  text-decoration: none;
  color: #5a5a5a;
}

img {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
}

.flex-div {
  display: flex;
  align-items: center;
}

nav {
  padding: 10px 2%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-right img {
  width: 25px;
  margin-right: 25px;
}

.nav-right .user-icon {
  width: 35px;
  border-radius: 50%;
  margin-right: 0;
}

.nav-left {
  display: flex;

  align-items: center;
}

.nav-left .menu-icon {
  width: 22px;
  margin-right: 25px;
}

.nav-left .Videanza-logo {
  width: 130px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: logoAnimation 10s infinite; /* Adjust the duration and other parameters as needed */
}

.nav-middle {
  display: flex;
  flex: 1;
  align-items: center;
  margin-right: 5%;
  margin-left: 2%;
  max-width: 450px;
}

.nav-middle .mic-icon {
  width: 16px;
}

.nav-middle .search-box {
  display: flex;
  flex: 1;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 15px;
  padding: 8px 12px;
  border-radius: 25px;
  align-items: center;
}

.nav-middle .search-box input {
  flex: 1;
  min-width: 0;
  border: 0;
  outline: 0;
  background: transparent;
  margin-right: 10px;
}

.nav-middle .search-box img {
  width: 15px;
}

.sidebar {
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 15%;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 80px;
  font-size: small;
  padding-left: 2%;
  height: 100vh;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.shortcut-links a img {
  width: 20px;
  margin-right: 20px;
}

.shortcut-links a {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: fit-content;
}

.shortcut-links a:first-child {
  color: rgb(206, 15, 15);
}

.sidebar hr {
  border: 0;
  height: 1px;
  background: #ccc;
  width: 85%;
}

.subscribed-list h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #5a5a5a;
}

.subscribed-list a img {
  width: 25px;
  border-radius: 50%;
}

.container {
  background: #f9f9f9;
  margin-top: 70px;
  padding-right: 2%;
  padding-bottom: 20px;
  padding-left: 17%;
  position: relative;
}

.container .banner {
  width: 100%;
}

.small-sidebar {
  width: 5%;
}

.small-sidebar a p {
  display: none;
}

.small-sidebar .subscribed-list h3 {
  display: none;
}

.small-sidebar .subscribed-list {
  margin-top: 20px;
}

.small-sidebar .subscribed-list a p {
  display: none;
}

.larger-container {
  padding-left: 6%;
}

.banner {
  width: 100%;
}

.banner img {
  width: 100%;
  border-radius: 8px;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  width: 100%;
  margin-top: 15px;
}

.vid-list {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 10px;
  padding: 15px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.thumbnail {
  width: 100%;
  border-radius: 8px;
}

.vid-list:hover {
  transform: scale(1.05);
}

.vid-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.vid-list .flex-div img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.channel-name {
  font-size: 16px;
  color: #555;
  margin: 8px 0;
}

.vid-info a {
  font-size: 18px;
  color: #555;
  text-decoration: none;
}

.vid-info p {
  font-size: 14px;
  color: #080808;
  margin: 8px 0;
}

/* Responsive Styles */

@media (max-width: 768px) {
}

@media (max-width: 900px) {
  .menu-icon {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .container,
  .larger-container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .nav-middle .mic-icon {
    display: none;
  }

  .logo {
    width: 90px;
  }
}
